extends layout.pug

block section
	h1.section-heading.mb-5 Contact RAs or Friends
	form#dangerSubmit.form-horizontal(method="POST" action="/danger/submit")
		h3.mt-4 Who do you want to call?
		p.mb-4 You can call both.
		.multichoice.col-md-8.col-xs-10.mx-auto.text-left
			.checkbox
				label
					input(type='checkbox', value='contactRas')
					|   Residential Assistants
			.checkbox
				label
					input(type='checkbox', value='contactFriends')
					|   Friends
		hr.my-4
		h3.my-4 What's happening?
		.multichoice.col-md-8.col-xs-10.mx-auto.text-left
			.checkbox
				label
					input(type='checkbox', value='aggression')
					|   Verbal/Physical Aggression
			.checkbox.disabled
				label
					input(type='checkbox', value='intox')
					|   Intoxication
			.checkbox.disabled
				label
					input(type='checkbox', value='other')
					|   Other
			br
			button.btn-xl.btn.btn-default(action="submit") Get Help
