extend layout.pug

block section
	.multichoice
		br
		img.center-block(src='https://maxcdn.icons8.com/Share/icon/Sports//olympic_torch1600.png', height='130px')
		.alert.alert-success
			h3
				| Help is on the way to 
				strong {{ user_add }}
				| . You should be receiving help in 
				strong 3 mins
				| .
			p
				| In the mean time, please help us collect more information about the incident. Every word counts.

block section2
	.report
		h2 Tell us more
		.form-check
			label.form-check-label
				input.form-check-input.text-center(type='checkbox')
				| 	I was a bystander.
		.form-group
			label(for='exampleInputEmail1') Your College ID
			input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
			small#emailHelp.form-text.text-muted(style='font-size: 14px;') This field is optional. You can choose to stay annonymous.
		.form-group
			label(for='pwd') Who was involved?
			input#pwd.form-control(type='password')
		.form-group
			label(for='comment') What happened?
			textarea#comment.form-control(rows='5')
		br
		a.btn-xl.btn.btn-default.center-block(href="{{ url_for('urgent_submit_btn') }}") Submit