extends layout.pug

block section
	.alert.alert-success
		h3= "Public Safety is called to " + myLocation
			strong 
			| . You should be receiving help in 
			strong 3 mins.
			| .
		a(href="tel:1234567890")
			| Optionally click here to call public safety
		p
			| In the mean time, please help us collect more information about the incident. Every word counts.

block section2
	.report
		h2 Describe the Incident
		form.form-horizontal(method="POST" action="/emergency/submit")
			.form-check
				label.form-check-label
					input.form-check-input.text-center(type='checkbox')
					| 	I was a bystander.
			.form-group
				label(for='involved') Who was involved?
				input#involved.form-control(type='text' name='who')
			.form-group
				label(for='comment') What happened?
				textarea#comment.form-control(rows='5' name='what')
				br
				button.btn-xl.btn.btn-default(type="submit" href="/emergency/submit") Report