extends layout.pug

block diffDir
	link(rel='stylesheet', href='../css/main.css')

block section
	.multichoice.my-3
		.alert.alert-success.text-center
			h3 Help is on the way.<br>Thank you for reporting.

		h2.section-subheading.my-5.text-center Here are some safety tips in the mean time.
		a.btn-xl.btn.btn-default(href="/tips") Safety Tips