extends layout.pug

block diffDir
	link(rel='stylesheet', href='../css/main.css')

block section
	.multichoice.my-3
		.alert.alert-success.text-center
			h3= "Public Safety is on their way."
				br
				strong 
				| You should be receiving help in 
				strong 2 mins
				| .

		h3.my-5.text-center Here are some safety tips in the mean time.
		a.btn-xl.btn.btn-default(href="/tips") Safety Tips