extends layout.pug

block section
	.alert.alert-success
		h3= "Messaged " + helpFrom + " to help someone at " + building + buildingRes + " " + room + "."

		a(href="tel:+97126287777")
			img.rounded.mx-auto.d-block(src='http://icons.iconarchive.com/icons/graphicloads/100-flat/256/phone-icon.png' height="100")
		p.text-center.my-3= "Urgent? Click on the phone to call " + helpFrom + " directly."

block section2
	.report
		h1.section-heading.mt-5 Report the Incident
		h4.report While waiting, please help us collect more information about what happened.

		form.form-horizontal(method="POST" action="/emergency/submit")
			.form-group
				label(for='netid') Your NetID
				input#netid.form-control(type='text' name='netid' placeholder="Leave empty for anonymous reporting")
			.form-group
				label(for='involved') Who was involved?
				input#involved.form-control(type='text' name='who')
			.form-group
				label(for='comment') What happened?
				textarea#comment.form-control(rows='5' name='what')
				
			button.btn-xl.btn.btn-default(type="submit" href="/emergency/submit") Report