extends layout.pug

block section
	h1.section-heading
		strong(style='color:#d9534f') mytorch
		|  is here to help you.
	form#locationSubmit.form-horizontal(method="GET" action="/emergency")
		.form-group.form-group-lg
			br
			.col-sm-10.col-md-8.mx-auto
				input#myLocation.form-control(name="myLocation" type='text', size='50', placeholder='Current Location')
		.btn-margin
			button#emergencyBtn.btn-xl.btn.btn-danger(type="submit") PUBLIC SAFETY
		.btn-margin
			button#dangerBtn.btn-xl.btn.btn-warning(type="submit") RA &amp; FRIENDS
		.btn-margin
			button#tipsBtn.btn-xl.btn.btn-safewalk(type="submit") SAFETY TIPS

block section2
	.my-5
		hr
		h2.my-4 When to call Public Safety
		ul
			li Alcohol poisoning, unconscious person with low body temperature, pale skin, slow breathing
			li Violence between two people
			li Sexual harassment
			li Injury
		h2.my-4 When to call RA or friends
		ul
			li Potentially escalating situation
			li Verbal abuse
			li Agression
			li Unsafe environment
	
