doctype html
html
	block link
		-var selected = 'Home';
	-var menu = {'Home':'/home','My Contacts':'/contacts', 'Safety Tips': '/tips', 'Logout':'/logout'};

	head
		title mytorch
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/main.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,700" rel="stylesheet")


		block diffDir

	body#page-top
		// Nav
		nav.navbar.navbar-toggleable-md.navbar-inverse(style='background-color: #8bc34a;')
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#myNav', aria-controls='myNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			a.navbar-brand(href='#') mytorch

			#myNav.collapse.navbar-collapse
				each val, key in menu
					ul.navbar-nav
						li.nav-item
						if selected === key
							a.nav-link.active(href=val)= key
						else
							a.nav-link(href=val)= key

		section
			.container
				.row
					.col-xs-10.col-md-8.mx-auto
						img.header-icon.center-block.mb-5(src='../logorec1.png', height='150px')
						block section

			.container
				.row
					.col-xs-10.col-md-8.mx-auto
						block section2
		
		footer

		// Scripts
		script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
		script(type='text/javascript', src='/scripts/twillio.js')
		script(type='text/javascript', src='/scripts/functions.js')
		script(type='text/javascript', src='/scripts/validator.js')