extends layout.pug

block section
	img.header-icon.mx-auto(src='https://maxcdn.icons8.com/Share/icon/Sports//olympic_torch1600.png', height='150px')
	br
	a.btn-xl.btn.btn-safewalk.mx-auto(role='button', href='/auth/google') Log in with NYU
