extends layout.pug

block section
	h3.my-5.all-center Your NYU email is used only to verify that you are an NYU student.
	a.btn-xl.btn.btn-safewalk.mx-auto(role='button', href='/auth/google') Log in with NYU
