extends layout.pug

block section
	.mt-3.mb-5.guides
		h2.pb-3 How to respond
		a(href="#alcPoison") Alcohol poisoning
		br
		a(href="#sexualAssault") Sexual assault
		br
		a(href="#firstAid") First aid
	hr
	#alcPoison.my-5
		h1.pb-3 Alcohol Poisoning
		p Source:
			a(href="http://www.mayoclinic.org/diseases-conditions/alcohol-poisoning/symptoms-causes/dxc-20211603")  Mayo Clinic
		h3 Symptoms
		p Alcohol poisoning signs and symptoms include:
		ul
			li Confusion
			li Vomiting
			li Seizures
			li Slow breathing (less than eight breaths a minute)
			li Irregular breathing (a gap of more than 10 seconds between breaths)
			li Blue-tinged skin or pale skin
			li Low body temperature (hypothermia)
			li Passing out (unconsciousness) and can't be awakened
		h4 When to see a doctor
		p
			| It's not necessary to have all the above signs or symptoms before you seek medical help. A person with alcohol poisoning who is unconscious or can't be awakened is at risk of dying.
		h4 Alcohol poisoning is an emergency
		p
			| If you suspect that someone has alcohol poisoning — even if you don't see the classic signs and symptoms — seek immediate medical care. Here's what to do:
		ul
			li
				strong Call 998
				|  or your local emergency number immediately. Never assume the person will sleep off alcohol poisoning.
			li
				strong Be prepared to provide information.
				|  If you know, be sure to tell hospital or emergency personnel the kind and amount of alcohol the person drank, and when.
			li
				strong Don't leave an unconscious person alone.
				|  Because alcohol poisoning affects the way the gag reflex works, someone with alcohol poisoning may choke on his or her own vomit and not be able to breathe. While waiting for help, don't try to make the person vomit because he or she could choke.
			li
				strong Help a person who is vomiting.
				|  Try to keep him or her sitting up. If the person must lie down, make sure to turn his or her head to the side — this helps prevent choking. Try to keep the person awake to prevent loss of consciousness.
		h4 Don't be afraid to get help
		p
			| It can be difficult to decide if you think someone is drunk enough to warrant medical intervention, but it's best to err on the side of caution. You may worry about the consequences for yourself or your friend or loved one, particularly if you're underage. But the consequences of not getting the right help in time can be far more serious.
		h3 Causes
		p
			| Alcohol in the form of ethanol (ethyl alcohol) is found in alcoholic beverages, mouthwash, cooking extracts, some medications and certain household products. Ethyl alcohol poisoning generally results from drinking too many alcoholic beverages, especially in a short period of time.
		p
			| Other forms of alcohol — including isopropyl alcohol (found in rubbing alcohol, lotions and some cleaning products) and methanol or ethylene glycol (a common ingredient in antifreeze, paints and solvents) — can cause other types of toxic poisoning that require emergency treatment.
		h4 Binge drinking
		p
			| A major cause of alcohol poisoning is binge drinking — a pattern of heavy drinking when a male rapidly consumes five or more alcoholic drinks within two hours, or a female downs at least four drinks within two hours. An alcohol binge can occur over hours or last up to several days.
		p
			| You can consume a fatal dose before you pass out. Even when you're unconscious or you've stopped drinking, alcohol continues to be released from your stomach and intestines into your bloodstream, and the level of alcohol in your body continues to rise.
		h4 How much is too much?
		p
			| Unlike food, which can take hours to digest, alcohol is absorbed quickly by your body — long before most other nutrients. And it takes a lot more time for your body to get rid of the alcohol you've consumed. Most alcohol is processed (metabolized) by your liver.
		p
			| The more you drink, especially in a short period of time, the greater your risk of alcohol poisoning.
		p One drink is defined as:
		ul
			li 12 ounces (355 milliliters) of regular beer (about 5 percent alcohol)
			li 8 to 9 ounces (237 to 266 milliliters) of malt liquor (about 7 percent alcohol)
			li 5 ounces (148 milliliters) of wine (about 12 percent alcohol)
			li 1.5 ounces (44 milliliters) of 80-proof hard liquor (about 40 percent alcohol)
		p
			| Mixed drinks may contain more than one serving of alcohol and take even longer to metabolize.

		h3 Risk factors
		p A number of factors can increase your risk of alcohol poisoning, including:
		ul
			li Your size and weight
			li Your overall health
			li Whether you've eaten recently
			li Whether you're combining alcohol with other drugs
			li The percentage of alcohol in your drinks
			li The rate and amount of alcohol consumption
			li Your tolerance level
		h3 Complications
		p Severe complications can result from alcohol poisoning, including:
		ul
			li
				strong Choking.
				|  Alcohol may cause vomiting. Because it depresses your gag reflex, this increases the risk of choking on vomit if you've passed out.
			li
				strong Stopping breathing.
				|  Accidentally inhaling vomit into your lungs can lead to a dangerous or fatal interruption of breathing (asphyxiation).
			li
				strong Severe dehydration.
				|  Vomiting can result in severe dehydration, leading to dangerously low blood pressure and fast heart rate.
			li
				strong Seizures.
				|  Your blood sugar level may drop low enough to cause seizures.
			li
				strong Hypothermia.
				|  Your body temperature may drop so low that it leads to cardiac arrest.
			li
				strong Irregular heartbeat.
				|  Alcohol poisoning can cause the heart to beat irregularly or even stop.
			li
				strong Brain damage.
				|  Heavy drinking may cause irreversible brain damage.
			li
				strong Death.
				|  Any of the issues above can lead to death.
	hr
	#sexualAssault.my-5
		h1.pb-3 Sexual assault
		p Source:
			a(href="https://www.womenshealth.gov/a-z-topics/sexual-assault")  Women's Health Gov

		h3 What is sexual assault
		p Sexual assault is any type of sexual activity, including rape, that you do not agree to. Also called sexual violence or abuse, sexual assault is never your fault.

		p Sexual assault can include:
		ul
			li Any type of sexual contact with someone who cannot consent, such as someone who is underage, has an intellectual disability, or is passed out
			li Rape
			li Attempted rape
			li Sexual coercion
			li Sexual contact with a child
			li Fondling or unwanted touching above or under clothes
		
		p Sexual assault can also be verbal or visual. It is anything that forces a person to join in unwanted sexual contact or attention. Examples can include:

			li Voyeurism, or peeping (when someone watches private sexual acts without consent)
			li Exhibitionism (when someone exposes himself or herself in public)
			li Sexual harassment or threats
			li Forcing someone to pose for sexual pictures

		h3 How to respond in the moment
		p Sexual coercion is not your fault. If you are feeling pressured to do something you don't want to do, speak up or leave the situation. It is better to risk a relationship ending or hurting someone's feelings than to do something you aren't ready or willing to do.
		p Some possible responses include:
		ul
			li "I do like you, but I'm not ready for sex."
			li "If you really care for me, you'll respect that I don't want to have sex."
			li "I don't owe you an explanation or anything at all."
		p Be clear and direct with the person coercing you. Tell him or her how you feel and what you do not want to do. If the other person is not listening to you, leave the situation. If you or your family is in physical danger, try to get away from the person as quickly as possible. Call 998 if you are in immediate danger.

		h3 How to get help after sexual assault
		p After a sexual assault, you may feel fear, shame, guilt, or shock. These feelings are normal. But sexual assault is never your fault. It may be frightening to think about talking about the assault, but it is important to get help.
		p
			strong Call public safety and residential education. There is help available.

		h3 How can I help someone who has been assaulted?
		p You can help a friend or family member who has been sexually assaulted by listening, offering comfort, and not judging. Reinforce the message that she or he is not at fault and that it is natural to feel angry, confused, or ashamed — or any combination of feelings.

		p Ask your loved one if they would like you to go with them to the hospital or to counseling. If they decide to report the crime to the police, ask if they would like you to go with them. Let them know that professional help is available. Let them know about the hotlines to call and talk to someone.
	hr
	#firstAid.my-5
		h1.pb-3 First Aid
		p Source:
			a(href="http://www.redcross.org/take-a-class/first-aid/perfoming-first-aid/first-aid-steps")  Red Cross
		h3 1. Check the scene and the person. Size up the scene and form an initial impression.

		p Pause and looks at the scene and the person before responding. Answer the following questions:
		ul
			li Is the scene safe to enter?
			li What happened?
			li How many people are involved?
			li What is my initial impression about the nature of the person’s illness or injury? Does the person have any life-threatening conditions, such as severe, life-threatening bleeding?
			li Is anyone else available to help?

		h3 2. If the Person is awake and Responsive and there is no severe life-threatening bleeding:
		ul
			li Obtain consent: Tell the person your name, describes type and level of training, states what you thinks is wrong and what you plans to do, and asks permission to provide care.
			li Tell a bystander to get the AED and first aid kit: Point to a bystander and speak out loud.
			li Use appropriate PPE: Put on gloves, if available.
			li Interview the person: Uses SAMPLE questions to gather more information about signs and symptoms, allergies, medications, pertinent medical history, last food or drink and events leading up to the incident.
			li Conduct a head-to-toe check: Check head and neck, shoulders, chest and abdomen, hips, legs and feet, arms and hands for signs of injury.
			li Provide care consistent with knowledge and training according to the conditions you find.

		h3 3. If the Person Appears Unresponsive:
		p Shout to get the person’s attention, using the person’s name if it is known. If there is no response, tap the person’s shoulder (if the person is an adult or child) or the bottom of the person’s foot (if the person is an infant) and shout again, while checking for normal breathing. Check for Responsiveness and breathing for no more than 5-10 seconds.

		h3 4. If the person is breathing:
		ul
			li Send someone to call 998 or the designated emergency number and obtain an AED and first aid kit.
			li Proceed with gathering information from bystanders using the SAMPLE questions
			li Conduct a head-to-toe check.
			li Roll the person onto his or her side into a recovery position if there are no obvious signs of injury.

		h3 5. If the person is NOT breathing:
		ul
			li Send someone to call 998 or the designated emergency number and obtain an AED and first aid kit.
			li Ensure that the person is face-up on a firm, flat surface such as the floor or ground.

			li Begin CPR (starting with compressions) or use an AED if one is immediately available, if you are trained in giving CPR and using an AED.

			li Continue administering CPR until the person exhibits signs of life, such as breathing, an AED becomes available, or EMS or trained medical responders arrive on scene.

			li End CPR if the scene becomes unsafe or you cannot continue due to exhaustion.

