body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  line-height: 1.5;
  overflow: hidden;}

a {
  color: #fed136; }
  a:hover, a:focus, a:active, a.active {
    color: #fec503; }

h1,
h2,
h3,
 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.5 }

h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 20px;
    font-weight: 400;
    /* font-style: italic; */
    /* margin-bottom: 75px; */
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 800px;
    display: block;
    margin: auto;
    line-height: 1.5;
    text-align: left;
    padding: 30px; }

@media (min-width: 768px) {
  section {
    padding: 50px 0; } }

section {
  padding: 20px 0px 20px 0px;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #fed136; }

small {
  font-size: 0.8rem;
}

#mainNav {
  background-color: #8bc34a; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  #mainNav .container {
    padding: 0; }
    #mainNav .container .navbar-brand {
      color: #fed136;
      font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; }
      #mainNav .container .navbar-brand:hover, #mainNav .container .navbar-brand:focus, #mainNav .container .navbar-brand:active, #mainNav .container .navbar-brand.active {
        color: #fec503; }
    #mainNav .container .navbar-nav .nav-item .nav-link {
      font-size: 90%;
      font-weight: 400;
      padding: .75em 0;
      letter-spacing: 1px;
      color: white;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase; }
      #mainNav .container .navbar-nav .nav-item .nav-link:hover, #mainNav .container .navbar-nav .nav-item .nav-link.active {
        color: #fed136; }

@media (min-width: 992px) {
  #mainNav {
    padding: 20px 0px 20px 0px !important;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: none;
    background-color: #8bc34a; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding: 0;
      background-color: #8bc34a; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .intro-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase; }

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase; } }

#navbarlogo {
  max-width: 100px;
}


.service-heading {
  margin: 15px 0;
  text-transform: none; }

.text-primary {
  color: #fed136 !important; }

.all-center {
  text-align: center;
}

.btn-xl {
	font-size: 30px !important;
	letter-spacing: 2px;
	font-weight: bold !important;
	padding: 20px !important;
  margin: 10px;
	min-width: 50%;
  border-radius: 3px;
  color: white;
  border-color: #8bc34a;
  background-color: #8bc34a;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

  .btn-xl:focus, .btn-xl.focus {
    color: white;
    border-color: #876ABA;
    background-color: #876ABA; }
  .btn-xl:hover {
    color: white;
    border-color: #876ABA;
    background-color: #876ABA; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    color: white;
    border-color: #876ABA;
    background-color: #876ABA; }
    .btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus,
    .open > .btn-xl.dropdown-toggle:hover,
    .open > .btn-xl.dropdown-toggle:focus,
    .open > .btn-xl.dropdown-toggle.focus {
      color: white;
      border-color: #876ABA;
      background-color: #876ABA; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus,
  fieldset[disabled] .btn-xl:hover,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl.focus {
    border-color: #876ABA;
    background-color: #876ABA; }
  .btn-xl .badge {
    color: #271046;
    background-color: white; }

#footer {
    padding: 6em 2em 4em 2em;
  }

    #footer > .inner {
      margin: 0 auto;
      width: 80em;
    }

    #footer .copyright {
      color: #bfbfbf;
      font-size: 0.9em;
      margin: 0 0 2em 0;
      padding: 0;
      text-align: center;
    }

      #footer .copyright .icons a {
        border-radius: 100%;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
        display: block;
        font-size: 1em;
        height: 3em;
        line-height: 3em;
        margin: 0 auto 0.7em;
        text-align: center;
        width: 3em;
      }

    @media screen and (max-width: 1280px) {

      #footer > .inner {
        width: 65em;
      }

    }

    @media screen and (max-width: 980px) {

      #footer > .inner {
        width: 90%;
      }

    }

    @media screen and (max-width: 736px) {

      #footer {
        padding: 3em 1em 1em 1em;
      }

    }

/* Icon */

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }

.multichoice {
  font-size: 24px;
  font-weight: bold;
}

.section-heading {
  text-transform: initial;
  font-weight: bold;
  text-align: center;
}

.header-icon {
  margin: 1rem;
}

a.btn {
  color: #fff !important;;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
  color: white;
}

.btn-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-safewalk {
  color: #fff;
  background-color: #8bc34a;
  border-color: #8bc34a;
}

.btn-safewalk:hover {
  background-color: #8bc34a;
  border-color: #8bc34a;
}

.alert > h3 {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.alert > p {
  font-size: 1rem;
  font-weight: normal;
}


.center-block {
  margin: auto;
  display: block;
  padding: 1rem;
  text-align: center;
}

.report > h2 {
  text-align: center;
  padding-top: 3rem;
  font-weight: 700;
}

.report > label {
  padding-top: 3rem;
}

.form-check-label {
  margin-bottom: 1rem !important;
}
